 # Snowflake Connection
SNOWFLAKE_USER=SOMYAK
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ACCOUNT=your_account_id
SNOWFLAKE_WAREHOUSE=DEV_WH
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_DATABASE=AI_TEST
SNOWFLAKE_SCHEMA=TARGET

# OpenAI
OPENAI_API_KEY=sk-your-key-here
